##              Real-World Energy Harvesting

###        PROBLEM STATEMENT

Estimate the total energy that can be harvested from human footsteps in crowded areas (e.g., metro stations, malls, universities) and assess its contribution toward sustainable smart-city energy solutions.

### Importing Required Libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import os
import datetime as dt

### Dataset Overview

#### Dataset Details -1
* **Dataset Name** :**Footstep Power Generation Tile Data**
* **Source** : https://www.kaggle.com/datasets/ishanshrivastava28/footstep-power-generation-tile-data
* **File Format** : .csv

#### Dataset Description
The Footstep Power Generation Tile data contains 3 numerical features voltage(V),current(mA),and weight(kgs).1 categorical feature that is the step location of the person on the square tile-center,edge,corner.It also contains the null values,Null values are occurred due to loose connections of sensors.

#### Feature Description
* **Time_sec**:The Timestamp since the start of the measurement
* **Pedal_RPM**:Revolution per minute of the Pedal
* **Torque_Nm**:Mechanical torque applied to the Pedal
* **Voltage_V**:Voltage generated by the pedal power generator
* **Current_A**:Electric current generated
* **Power_W**:Electrical power output of the system

#### Loading the Dataset

In [ ]:
powergenerated=pd.read_csv('pedal_power_dataset.csv')

#### Explore and Understand the Data

In [5]:
powergenerated.head(10)

   Time_sec  Pedal_RPM  Torque_Nm  Voltage_V  Current_A  Power_W
0         1         78       2.20       9.90       1.66    16.43
1         2         91       2.39      12.70       2.34    29.72
2         3         68       2.76       8.26       0.67     5.53
3         4         54       2.25       7.66       2.25    17.24
4         5         82       1.59       6.73       1.60    10.77
5         6         47       1.21       9.85       0.83     8.18
6         7         60       1.91      12.20       1.32    16.10
7         8         78       1.44       6.52       2.06    13.43
8         9         97       1.83      14.24       1.46    20.79
9        10         58       2.77       9.98       2.47    24.65

In [8]:
powergenerated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Time_sec   200 non-null    int64
 1   Pedal_RPM  200 non-null    int64
 2   Torque_Nm  200 non-null    float64
 3   Voltage_V  200 non-null    float64
 4   Current_A  200 non-null    float64
 5   Power_W    200 non-null    float64
dtypes: float64(4), int64(2)
memory usage: 9.5 KB

In [9]:
powergenerated.describe()

         Time_sec  Pedal_RPM   Torque_Nm   Voltage_V   Current_A     Power_W
count  200.000000  200.00000  200.000000  200.000000  200.000000  200.000000
mean   100.500000   69.32500    1.997600   10.488100    1.509150   15.845850
std     57.879185   17.39027    0.567613    2.580004    0.564064    7.281839
min      1.000000   40.00000    1.000000    6.140000    0.510000    3.450000
25%     50.750000   54.00000    1.537500    8.275000    1.047500   10.185000
50%    100.500000   68.50000    1.955000   10.390000    1.570000   14.910000
75%    150.250000   83.00000    2.422500   12.592500    1.970000   20.322500
max    200.000000   99.00000    3.000000   14.960000    2.490000   35.530000

In [11]:
powergenerated.isnull()

     Time_sec  Pedal_RPM  Torque_Nm  Voltage_V  Current_A  Power_W
0       False      False      False      False      False    False
1       False      False      False      False      False    False
2       False      False      False      False      False    False
3       False      False      False      False      False    False
4       False      False      False      False      False    False
..        ...        ...        ...        ...        ...      ...
195     False      False      False      False      False    False
196     False      False      False      False      False    False
197     False      False      False      False      False    False
198     False      False      False      False      False    False
199     False      False      False      False      False    False

[200 rows x 6 columns]

In [13]:
powergenerated.sum()

Time_sec     20100.00
Pedal_RPM    13865.00
Torque_Nm      399.52
Voltage_V     2097.62
Current_A      301.83
Power_W       3169.17
dtype: float64